# prod
dist/

# dev
.hono/
.wrangler/
wrangler.toml
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
*/rss.xml

# deps
node_modules/

# env
.env
.env.production
.dev.vars

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
