# prod
dist/

# dev
.hono/
.wrangler/
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
*/**/rss.xml
*/**/atom.xml
target

# deps
node_modules/

# env
.env
.env.production
.dev.vars

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
