name: check-codebase

on:
  push:

permissions:
  contents: read

jobs:
  check-codebase:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ./.github/actions/setup-ci

      - run: pnpm check:ci

      - run: pnpm test:website
