name: check-codebase

on:
  push:

permissions:
  contents: read

jobs:
  check-codebase:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: ./.github/actions/setup-ci

      - run: pnpm check:ci

      - run: pnpm test
