name: check-codebase

on:
  push:

permissions:
  contents: read

jobs:
  check-codebase:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: ./.github/actions/setup-ci

      - run: pnpm check:ci

      - run: pnpm test
