name: check-codebase

on:
  push:

permissions:
  contents: read

jobs:
  check-codebase:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup-ci

      - run: pnpm check:ci

      - run: pnpm test:website
