name: Renovate Config Validator

on:
  workflow_dispatch:
  push:
    paths:
      - 'renovate.json'
      - '.github/workflows/renovate-config-validator.yaml'

jobs:
  renovate-config-validator:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: validate renovate.json
        run: npx --package=renovate -c renovate-config-validator
